*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/j2a-java/nbproject/private/
/j2a-java/build/
/j2a-java/dist/
/j2a/nbproject/private/
/j2a/build/
/j2a/dist/
